<div class="container">
  <div class="jumbotron">
    <p class="lead">This is the section for the description again</p>
  </div>

  <div class="main-nav">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="">
      <form class="form-inline pull-xs-left">
        <div class="form-group">
          <label class="sr-only" for="search">Search</label>
          <div class="input-group">
            <input class="form-control" type="text" placeholder="Search">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search">Search</span></div>    
          </div>
        </div>
      </form>
    </div>

    <div class="pull-xs-right">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary text-uppercase">Sort By</button>
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Author</a>
          <a class="dropdown-item" href="#">Story</a>
          <a class="dropdown-item" href="#">Title</a>
          <a class="dropdown-item" href="#">Genra</a>
        </div>
      </div>

      <button type="button" class="btn btn-outline-secondary text-uppercase">A-Z</button>
      <button type="button" class="btn btn-outline-secondary text-uppercase">Sign In</button>
    </div>
  </nav>
  </div>
  
  <div class="row"> 
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Story Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Genra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>James237</td>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>James237</td>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>James237</td>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>James237</td>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>James237</td>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="">
      <div class="m-x-auto" style="width: 400px;">

        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>