<div class="container">
	<div class="row m-x-auto" width="100%">
		<div class="col-sm-3">
			<button type="button" class="m-x-auto btn btn-outline-primary active app-nav-btn" width="80%">Main</button>
		</div>
		<div class="col-sm-3">
			<button type="button" class="m-x-auto btn btn-outline-primary app-nav-btn" width="80%">New Story</button>
		</div>
		<div class="col-sm-3">
			<button type="button" class="m-x-auto btn btn-outline-primary app-nav-btn" width="80%">Branch Requests</button>
		</div>
		<div class="col-sm-3">
			<button type="button" class="m-x-auto btn btn-outline-primary app-nav-btn" width="80%">Comments</button>
		</div>
	</div>

	<div class="row stories">
		<div class="col-sm-12"><h2>Stories</h2></div>
		<div class="col-sm-12">
			<table class="table table-hover">
        <thead>
          <tr>
            <th>Story Title</th>
            <th>Description</th>
            <th>Genra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
            <td>Sci-fi</td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>

	<div class="row branches">
		<div class="col-sm-12"><h2>Branches</h2></div>
		<div class="col-sm-12">
			<table class="table table-hover">
        <thead>
          <tr>
            <th>Branch Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>

          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
          </tr>
          <tr>
            <th scope="row">Cowabunga Cereal</th>
            <td>A woman makes a facinating discovery in a cereal box</td>
          </tr>
        </tbody>
      </table>
		</div>
	</div>

</div> <!-- ./container -->